@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

body{
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #dbd9d9;
    
}


/* Estilos Globales */
.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0; /* Hacia afuera */
    padding: 0; /* Hacia Dentro */
}

.boton1{
    height: 38px;
    background-color: tomato;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

/* Encabezado */
header{
    background-color: #24282b;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px; /* Arriba Abajo Izq Der */
}

header #marca h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .resaltado, header .actual a{
    color: rgb(211, 77, 77);
    font-weight: bold;
}

header a:hover{
    color: rgb(255, 251, 251);
    font-weight: bold;
}

 /* Cabecera con imagen */ 
#cabecera{
    min-height: 400px;
    width: 100%;
    background: url(images/fondo.jpg) no-repeat right top;
    background-color: rgb(6, 6, 42);
    text-align: center;
    color: white;
}

#cabecera h1{
    margin-top: 50px;
    margin-right: 55%;
    font-size: 40px;
    
}

#cabecera p{
    margin-top: 30px;
    margin-right: 55%;
    font-size: 20px;
}

.voto{
    width: 40%;
}

#boletin{
    padding: 15px;
    color: #fff;
    background-color: #24282b;
}

#boletin h1{
    float: left;
}

#boletin form{
    float: right;
    margin-top: 15px;
}

#boletin input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#cajas{
    margin-top: 20px;
}

#cajas .caja{
    float: left;
    text-align: center;
    width: 30%;
    padding: 15px;

}


#cajas .caja img{
    width: 90px;
}


.imag{
    width: 150px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #1293d4;
    text-align: center;
}

/* Formulario Contacto TODO */

.imgc{
    width: 60px;
}

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: rgb(238, 238, 238);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 13px 20px rgba(0, 0, 0, 0.2);
}

.contact_info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1293d4;
    opacity: 0.9;

}


.contact_info{
    width: 38%;
    position: relative;
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
    /*text-align: center;*/
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
}

.info_title h2{
    font-size: 30px;
    text-align: center;
}

.info_items p{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 17px;
    margin-top: 30px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;

}
.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}

.info_items p:nth-child(3) span{
    font-size: 50px;
    margin-left: 35%;
}

.calend_p{
    text-align: center;
}

form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-top: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-size: 16px;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    border: none;
    border-bottom: 3px solid #D1D1D1;
    padding: 8px 0px 5px;
    outline: none;
    font-family: "Open sans";
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type= "text"]{
    background: rgb(238, 238, 238);
}

form textarea{
    background: rgb(238, 238, 238);
}

form.form_contact input[type= "submit"]{
    width: 180px;
    background: #1293d4;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: black;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type= "submit"]:hover{
    background: rgb(211, 77, 77);
}



/* Modal de Errores */

.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    border-bottom: 2px solid red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after{
    width: 100%;
    height: 5px;
    background: red;
    margin: 10px 0px 15px;
}

.mensaje_modal p{
    font: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

.mensaje_modal #btnClose{
    display: inline-block;
    padding: 6px 10px;
    margin-top: 10px;
    background: red;
    color: #fff;
    border: 2px solid #bb1144;
    cursor: pointer;
    float: right;
}