body {
    margin: 0;
    padding: 0;
    background: url(../images/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
  }
  
.login-box {
    display: inline-block;
    width: 350px;
    height: 450px;
    background: #000;
    color: #fff;
    top: 50%;
    /*position: absolute;*/
    /*transform: translate(40%, -50%);*/
    box-sizing: border-box;
    border-style: double;
    border-color: rgb(211, 77, 77);
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 38%;
    padding: 70px 40px 0px 40px;
    border-radius: 30px;
  }
  


  .login-box .avatar {
    width: 100px;
    position: absolute;
    height: 100px;
    border-radius: 50%;
    transform: translate(85%,-135%);
    /*position: absolute;*/
    /*left: calc(10% - 50px);*/
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(1, 135, 139);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }