<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Altadata</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>

    <div class="login-box">
      <img src="img/Icono 1.jpeg" class="avatar" alt="Avatar Image">
      <h1>Ingresa a tu cuenta</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="Username">Usuario</label>
        <input type="text" placeholder="Ingrese Usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrese Contraseña">
        <input type="submit" value="Enviar">
        <a href="../OlvidoContraseña/Index.html">¿Olvidó su contraseña?</a><br>
        <a href="../CrearCuenta/Index.html">¿No tiene una cuenta?</a>
      </form>
    </div>
  </body>
</html>