<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Plebiscito 2020, Constituyentes, Votaciones"> 
        <title>Contacto | Constituyentes2020</title>

        <link rel="shortcut icon" href="../static/images/icono2.png">
        <link rel="stylesheet" href="../static/css/estilo_C.css">
        <link rel="stylesheet" href="../static/css/font-awesome.css">

        <script src="../static/js/jquery-3.2.1.js"></script>
        <script src="../static/js/script.js"></script>

    </head>

    <body>
        <header>
            <div class="contenedor">
                <div id="marca">
                    <h1><span class="resaltado">Constituyentes</span> 2020</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}">INICIO</a></li>
                        <li><a href="https://www.gob.cl/noticias/infografia-conoce-las-etapas-del-proceso-constituyente/" target="_blank">INFORMACION</a></li>
                        <li class="actual"><a href="{% url 'contacto' %}">CONTACTO</a></li>
                        <li><a href="{% url 'login' %}">ENTRAR</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="form_wrap">

            <section class="contact_info">
                <section class="info_title">
                    <span class="fa fa-user-circle"></span>
                    <h2>INFORMACION<br>DE CONTACTO</h2>
                </section>
                <section class="info_items">
                    <p><span class="fa fa-envelope"></span>altadata@gmail.com</p>
                    <p><span class="fa fa-mobile"></span>+(569) 88146501</p>
                    <p class="calend_p"><span class="fa fa-calendar"></span></p>
                </section>
            </section>

            <form action="/contacto/" class="form_contact" method="POST">{% csrf_token %}
                <h2>Comunicate con nosotros</h2>
                <div class="user_info">
                    <label for="names">Nombres *</label>
                    <input type="text" id="names" name="nombre" required>

                    <label>Asunto</label>
                    <input type="text" name="asunto">

                    <label for="email">Correo Electronico *</label>
                    <input type="text" id="email" name="email" required>

                    <label for="mensaje">Mensaje *</label>
                    <textarea id="mensaje" name="mensaje" required></textarea>

                    <input class="enviar" type="submit" value="Enviar" id="btnSend">
                </div>
            </form>

        </section>

        <footer>
            Sitio Web Protegido AltaData, Copyright © 2020
        </footer>

    </body>
</html>