<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EpicPokédex</title>
    <link rel="shorcut icon" href="images/osi.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/flow.css">
  </head>
  <body>
    
    <div id="pokedex-container">
      <h1>Volver a la pagina principal</h1>
      <a href="{% url 'index' %}">VOLVER</a>
      <div><img id="pokemon-logo" src="../static/images/lupa_plantilla.png" alt="pokemon-logo"/></div>
      
    </div>
  </body>
</html>